html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1a202c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.homepage {
  width: 98vw;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 2.5fr 7.5fr;
  gap: 30px;
}

.homepage > .col1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.git-intro {
  background-color: #384457;
  color: white;
  border-radius: 10px;
}
.git-intro > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.git-intro > div:nth-child(1) img {
  width: 100px;
  height: 100px;
  margin-top: 30px;
  border-radius: 50%;
}
.git-intro > div:nth-child(1) h3 {
  margin-top: 0px;
  color: #a0aebf;
}
.git-intro button {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background-color: #68d391;
  color: #0e4e26;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 100px;
}
.git-intro > div:nth-child(3) {
  margin-bottom: 30px;
}
.git-intro > div:nth-child(2) {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 5px;
}
.git-intro > div:nth-child(3) {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.tech-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
  background-color: #384457;
  padding: 30px 0;
  border-radius: 10px;
}
.tech-stack div {
  background-color: lightblue;
  padding: 5px;
  color: rgb(7, 54, 70);
  font-weight: 600;
}
.experience {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  background-color: #384457;
  color: white;
  padding: 30px 0;
}
.experience > div {
  display: grid;
  grid-template-columns: 2fr 8fr;
  align-items: center;
  margin-left: 30px;
}
.experience > div h2 {
  font-weight: 400;
}
.experience > div > div:nth-child(1) {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
  border-radius: 50%;
  border: 2px solid lightblue;
}
.projects {
  background-color: #384457;
  color: white;
  padding: 20px 0;
  border-radius: 10px;
}
.projects h1 {
  text-align: center;
}
.projects .pro-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  padding: 0 30px;
  gap: 20px;
}
.projects .pro-container .card {
  padding: 10px;
  border-radius: 9px;
  border: 1px solid #1a202c;
  cursor: pointer;
}
.projects .pro-container .card .git-icon {
  font-size: 32px;
}
.projects .pro-container .card .fold {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  gap: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}
.projects .pro-container .card .fold + p {
  margin-top: 10px;
  padding-left: 30px;
}
.projects .pro-container .card .git {
  margin: 20px 30px;
  display: flex;
  justify-content: space-between;
}
.projects .pro-container .card .git > div:nth-child(1) {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.projects .pro-container .card .git div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects .pro-container .card .git div > span {
  font-size: 24px;
  font-weight: 300;
}
.projects .pro-container .card .git .typescript {
  color: #2c7389;
}
.projects .pro-container .card .git .javascript {
  color: #f1e05a;
}

.navbar {
  width: 100vw;
  display: flex;

  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  color: white;
  gap: 30px;
  background-color: #171923;
  color: white;
  font-weight: 300;
  padding: 30px;
}
